*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    /* margin-top: 8vh; */
    margin-left: 15%;
    width: 85%;
    height: 100vh;
    overflow: hidden;
    /* background-color: rgb(226, 226, 226); */
    background-color:rgb(243, 243, 243);
}

.title{
    padding-top: 90px;
    padding-left: 33px;
}

.main__content{
    width: 94%;
    height: 80%;
    margin: 0px 35px;
    background-color:rgb(255, 255, 255);
}

