*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    display: flex;
    position: fixed;
}

nav{
    width: 15%;
    height: 100vh;
    background-color: #15202c;
    position:absolute;
    display: flex;
    /* box-shadow: 2px 2px 2px rgb(47, 80, 117); */
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

/* SUB */
.nav-sub{
    width: 85%;
    height: 60px;
    margin-left: 15%;
    background-color:#fff;
    display: flex;
    /* justify-content: flex-end; */
    line-height: 60px;
}

.left{
    width: 20%;
    height: 60px;
}

#logo{
    position: absolute;
    width: 170px;
    padding: 15px 0 0 35px;
}

.right{
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 7%;
}

.fa-user-circle{
    padding:  18px 10px 0 0;
    cursor: pointer;
}

.fa-caret-down{
    padding:  25px 0 0 10px;
    cursor: pointer;
}


/* main */


.top{
    width:100%;
    height: 60px;
    border-bottom:  1px solid #fff;
}

.top h6{
    line-height: 75px;
}

.top a{
    text-decoration: none;
    color: rgb(219, 219, 219);
}

.middle{
    width: 100%;
    height: 700px;
    padding-left: 10px;
}

.middle ul li{
    list-style: none;
    border-bottom: 0.5px solid rgb(117, 116, 116);
    width: 100%;
    height: 40px;
    line-height: 50px;
    cursor: pointer;
    padding-left: 15px;
    margin-top: 30px;
}

.middle ul li a{
    text-decoration: none;
    color: rgb(219, 219, 219);
}

.middle ul li:hover{
    background-color: #202f3f;
    border-left:  3px solid rgb(134, 134, 134);
}

.active{
    background-color: #202f3f;
    border-left:  3px solid rgb(134, 134, 134);
}