*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    width:100%;
    height: 750px;
}

.middle{
    width:100%;
    height: 1550px;
}

.carousel-inner{
    width:100%;
    height: 750px;
}

.carousel-inner-image{
    width:100%;
    height: 750px;
}

.carousel-caption{
    padding-bottom: 350px;
}

.line-1{
    font-size:35px;
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
}

/* Animation */
.anim-typewriter{
    animation: typewriter 3s steps(36) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal,
            blink-caret .5s step-end infinite;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 27em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.line-2{
    font-size:35px;
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
}

/* Animation */
.anim-typewriter1{
    animation: typewriter 3s steps(30) 3.5s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal,
            blink-caret .5s step-end infinite;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 25em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}
