*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*TOP
*/

.top{
    width:100%;
    height: 100vh;
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)) ,url('https://images.pexels.com/photos/731082/pexels-photo-731082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
}

.line-1{
    font-size:35px;
    color: #FCFCFC;
    font-family: 'Asap', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
    font-weight: 400;    
    /* line-height: 60vh; */
    padding-top: 35vh;
}




.anim-typewriter{
    animation: typewriter 3s steps(44) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
    }
    @keyframes typewriter{
    from{width: 0;}
    to{width: 26em;}
    }
    @keyframes blinkTextCursor{
    from{border-right-color: rgb(255, 255, 255);}
    to{border-right-color: transparent;}
    }

.line-2{
    font-size:35px;
    color: #FCFCFC;
    font-family: 'Asap', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
}


.anim-typewriter1{
    animation: typewriter 3s steps(30) 3.5s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
    }
    @keyframes typewriter{
    from{width: 0;}
    to{width: 25em;}
    }
    @keyframes blinkTextCursor{
    from{border-right-color: transparent;}
    to{border-right-color: transparent;}
}

.social{
    display: flex;
    position: fixed;
    margin-left:  95%;
    flex-direction: column;
    z-index: 10000;
    margin-top: -10%;
}

.btn-cus{
    margin-top: 3%;
    padding: 6px 12px 6px 12px;
    margin-left: 10px;
    border-radius: 15px;
    transition: 0.3s;
}

.btn-cus:hover{
    transform: scale(1.05);
}

.btn-test{
    margin-top: 50px;
}

.down a{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.fa-chevron-down{
    color: rgb(233, 233, 233);
    cursor: pointer;
    font-size: 2rem;
    animation: move 3s ease-out infinite;
}

.fa-chevron-down:first-child{
    animation: move 3s ease-out 0.5s infinite;
}

.fa-chevron-down:first-child(2){
    animation: move 3s ease-out 1s infinite;
}

@keyframes move{
    25% { 
        opacity: 1;
    }

    33% { 
        opacity: 1;
        transform: translateY(1.5rem);
    }

    66%{ 
        opacity: 0.5;
        transform: translateY(2.12rem);
    }

    100%{
        opacity: 0;
        transform: translateY(3%) scale(0.5);
    }
}



/*
*MIDDLE
*/
.middle{
    width: 100%;
    max-height: 2050px;
    /* background-color: #f8f5f2; */
    background-color: #f8f8f8;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(242,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(283,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-71.75 16.4) rotate(10.25 1409 581) scale(1.041)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-41 41) rotate(12.3 800 450) scale(1.021)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(36.9 -123) rotate(123 401 736) scale(1.021)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(246 -16.4) rotate(4.1 150 345) scale(0.959)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-164 -102.5) rotate(147.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-246 82) rotate(24.6 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-size: auto;
    overflow: hidden;
    background-image: url("/image/backgr.png");
}

/* Title */
.title{
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 4em 0 2em 0;
}

.slogan{
    font-family: 'Hind', sans-serif;
    margin-left: -1.5em;
    cursor: pointer;
}

.slogan i{
    margin-left: 1.5em;
}


/* /title */


.row{
    width:80%;
    height: 100%;
    margin-left: 10%;
}

.format-col{
    /* border:1px solid black; */
    height: 500px;
}

.card{
    position: absolute;
    overflow: hidden;
    width:80%;
    height:80%;
    /* border:1px solid black; */
    transition: 0.45s;
    border-radius: 20px;
    margin: 5% 0 0 5%;
    box-shadow: 5px 5px 5px rgb(228, 228, 228);
}

#card--1:hover{
    border-bottom: 4px solid #dc3545;
    transform: scale(1.05);
}

#card--2:hover{
    border-bottom: 4px solid #007bff;
    transform: scale(1.05);
}

#card--3:hover{
    border-bottom: 4px solid #17a2b8;
    transform: scale(1.05);
}

#card--4:hover{
    border-bottom: 4px solid #28a745;
    transform: scale(1.05);
}

.card__header{
    width: 35%;
    height: 20%;
    border-radius: 50%;
    margin: 30px auto;
    overflow: hidden;
}

.card__btn{
    margin: 25px auto;
}

.card__text{
    padding: 0em 1em 0 1.5em;
    overflow: hidden;
}

.card__text--p{
    padding: 1em 1em 0 1.5em;
}


/* Bottom */

.bottom{
    width: 100%;
    height:290px; 
    background-image: linear-gradient(rgba(102, 102, 102, 0.7),rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/3184398/pexels-photo-3184398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.title-sub{
    color: #fff;
}

.title-sub p{
    padding: 1em 4em 0em 4em;
    font-family: 'Hind', sans-serif;
    font-size: 19px;
}




/* Mobile */
.contact{
    width: 100%;
    background-color: #f8f8f8;
    background-image: url("/image/backgr.png");
    overflow: hidden;
}

.card__contact{
    width: 70%;
    margin: 7.5% 0 0 7.5%;
    height: 70%;
}

.fa-heart:hover{
    color:rgb(212, 14, 14);
}

/*
*RESPONSIVE
*/

@media (min-width: 768px) and (max-width:1024px){
    .line-1,
    .line-2{
        font-size:25px;
    }

    .top{
        height: 750px;
    }

    @keyframes typewriter{
        from{width: 0;}
        to{width: 22em;}
    }

    @keyframes typewriter1{
        from{width: 0;}
        to{width: 20em;}
    }

    .btn-cus{
        padding: 7px 13px 7px 13px;
    }

    .btn-test{
        margin-top: 45px;
    }

    .social{
        margin-left:  90%;
        margin-top: -40%;
    }

    .title-sub{
        font-size: 18px;
    }


    .title-sub p{
        font-size: 15px;
    }

    .title-sub span{
        font-size: 15px;
    }

    .title-sub #name{
        font-size: 15px;
        position: relative;
        top: -15px;
    }
}

@media (max-width: 600px){
    
    .top{
        width:100%;
        height: 500px;
    }

    .middle{
        width:100%;
    }

    .btn-cus{
        padding: 5px 10px 5px 10px;
    }

    .btn-test{
        margin-top: 35px;
        font-size: 12px;
    }

    .title-sub{
        font-size: 10px;
    }

    .title-sub h4{
        margin-top:20px;
    }


    .title-sub p{
        /* font-size: 15px; */
        display: none;
    }

    .title-sub span{
        font-size: 15px;
        padding-top: 50px;
    }

    .title-sub #name{
        font-size: 15px;
        position: relative;
        text-align: center;
    }

}

@media (min-width: 601px) and (max-width:767px){
    .line-1,
    .line-2{
        font-size:21px;
    }

    @keyframes typewriter{
        from{width: 0;}
        to{width: 20em;}
    }

    @keyframes typewriter1{
        from{width: 0;}
        to{width: 18em;}
    }
    .top{
        height: 750px;
    }

    .btn-cus{
        padding: 7px 13px 7px 13px;
    }

    .btn-test{
        margin-top: 45px;
    }

    .social{
        display: none;
    }
}

@media (min-width: 708px) and (max-width:1204px){
    .social{
        margin-left:  90%;
        margin-top: -20%;
    }
}

@media (max-width: 601px){
    .line-1,
    .line-2{
        font-size:15px;
    }

    @keyframes typewriter{
        from{width: 0;}
        to{width: 18em;}
    }

    @keyframes typewriter1{
        from{width: 0;}
        to{width: 15em;}
    }

    .btn-1{
        top: -130px;
        width:100px;
    }

    .carousel-caption{
        padding-bottom: 200px;
    }

    .social{
        display: none;
    }

    .title h3{
        font-size: 18px;
    }
}

