<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
</head>
<body>
    <div class="container-fluit">
        <div class="footer">
            <div class="footer__on">

            </div>
            <div class="footer__up">
                <p style="float: left; color:white; margin-top: 0.6em; font-size: 0.75em">&copy; Copyright 2020 <i><a href="http://localhost:4000/">PhongTroTot</a>  | Version 1.0</i></p>
                <span>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </span>
            </div>
        </div>
    </div>
    
</body>
</html>