<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header-manage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="wrap">
        <div class="nav-sub">
            <div class="left">
                <a href="/"><img id="logo" src="/image/logo.png" alt=""></a> 
            </div>
            <div class="right">
                <i class="far fa-user-circle" style="font-size:25px;"></i>
                <p>Thành Trung</p>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <nav>
            <div class="top">
                <a href="/manage"><h6><i class="fas fa-house-user"></i>&nbsp;&nbsp; MANAGE ROOMS</h6></a>
            </div>
            <div class="middle">
                <ul class="click__active">
                    <li class="active"><a href="/manage/feature/"><i class="fas fa-book"></i>&nbsp;&nbsp; General info</a></li>
                    <li class=""><a href=""><i class="fas fa-user-check"></i>&nbsp; Tenants info</a></li>
                    <li class=""><a href=""><i class="fas fa-file-signature"></i>&nbsp; Contract</a></li>
                    <li class=""><a href=""><i class="fas fa-file-invoice-dollar"></i>&nbsp;&nbsp; Invoices</a></li>
                    <li class=""><a href=""><i class="fas fa-address-card"></i>&nbsp; Declare</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {{!-- <script src="js/scripts.js"></script> --}}
    
    <script>
        $(document).ready(function(){
            $('.click__active li a').click(function(e){
                $('.click__active li.active').removeClass('active');
                var $parent = $(this).parent();
                $parent.addClass('active');
                e.preventDefault();
            })
        })
    </script>
    
</body>
</html>


