<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header-manage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="wrap">
        <div class="nav-sub">
            <div class="left">
                <a href="/"><img id="logo" src="/image/logo.png" alt=""></a> 
            </div>
            <div class="right">
                <i class="far fa-user-circle" style="font-size:25px;"></i>
                <p>Thành Trung</p>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <nav>
            <div class="top">
                {{!-- <a href="/"><img id="logo" src="/image/logo.png" alt=""></a>  --}}
            </div>
            <div class="midle">

            </div>
        </nav>
    </div>
    
    
</body>
</html>


