<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/feature.css">
</head>
<body>
    <div class="container-fluit">
        <div class="main">
            <div class="main__left">
                <div id="show" data-toggle="tooltip" data-placement="right" title="Menu">
                    <i class="fas fa-fw fa-bars"></i>
                </div>
                <div id="content">
                    <div class="item" data-toggle="tooltip" data-placement="right" title="Nhật ký của bạn">
                        <a href="/diary"><i class="fas fa-pen-fancy"></i></a>
                    </div>
                    <div class="item" data-toggle="tooltip" data-placement="right" title="Ghi chú">
                        <i class="fas fa-sticky-note"></i>
                    </div>
                    <div class="item" data-toggle="tooltip" data-placement="right" title="Lịch trình">
                        <i class="fas fa-clipboard-list"></i>
                    </div>
                    <div class="item" data-toggle="tooltip" data-placement="right" title="Kế hoạch">
                        <i class="fas fa-bookmark"></i>
                    </div>
                    <div class="item" data-toggle="tooltip" data-placement="right" title="Chi tiêu">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                    <div class="item" data-toggle="tooltip" data-placement="right" title="Profile">
                        <a href="/"><i class="fas fa-fw fa-user-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="main__right">

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#show').click(function(){
                $('#content').toggle("slow");
            })
            });
    </script>
</body>
</html>