<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluit">
        <div class="top">
            <div class="content">
                <div class="content__text">
                    <p class="line-1 anim-typewriter">MANAGE THE ROOM FOR RENT WITH </p>
                    <p class="line-2 anim-typewriter1">PHONG TRO TOT...</p>
                    <button type="button" class="btn btn-outline-warning mr-2 pt-2 pb-2 btn-test" data-aos="zoom-in-right" data-aos-duration="1500">Experience</button>
                    <button type="button" class="btn btn-outline-warning ml-2 pt-2 pb-2 btn-test" data-aos="zoom-in-left" data-aos-duration="1500">Registration</button><br>
                    <div class="social" data-aos="zoom-in" data-aos-duration="2500">
                        <button type="button" class="btn btn-primary btn-cus"><i class="fab fa-facebook-f"></i></button>
                        <button type="button" class="btn btn-danger btn-cus"><i class="fab fa-instagram"></i></button>
                        <button type="button" class="btn btn-primary btn-cus"><i class="fas fa-phone-volume"></i></button>
                        <button type="button" class="btn btn-danger btn-cus"><i class="fab fa-youtube-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="middle">
            <div class="title">
                <h3>WE ARE READY TO SERVE YOU WITH AWESOME FEATURES</h3>
                <h6>The current features offered by itro have met most management operations that a homeowner wants. We always listen <br>
                your ants to be able to upgrade and add new features.</h6>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    
                </div>
            </div>
            
        </div>
        <div class="bottom">
            
        </div>
        <div class="mobile">
            
        </div>
    </div>
    
</body>
</html>