<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluit" data-aos="fade-down" data-aos-duration="1000">
        <div class="top">
            <div class="content">
                <div class="content__text">
                    <p class="line-1 anim-typewriter">MANAGE THE ROOM FOR RENT WITH </p>
                    <p class="line-2 anim-typewriter1">PHONG TRO TOT...</p>
                    <button type="button" class="btn btn-outline-warning mr-2 pt-2 pb-2 btn-test" data-aos="zoom-in-right" data-aos-duration="2500" data-toggle="tooltip" data-placement="left" title="You will get a free experience for a month">Experience</button>
                    <button type="button" class="btn btn-outline-warning ml-2 pt-2 pb-2 btn-test" data-aos="zoom-in-left" data-aos-duration="2500">Registration</button><br>
                    <div class="social" data-aos="zoom-in" data-aos-duration="2500"> 
                        <i class="fas fa-angle-right" data-toggle="tooltip" data-placement="left" title="Hide links!"></i>
                        <button type="button" class="btn btn-primary btn-cus"><i class="fab fa-facebook-f" ></i></button>
                        <button type="button" class="btn btn-danger btn-cus"><i class="fab fa-instagram"></i></button>
                        <button type="button" class="btn btn-primary btn-cus"><i class="fas fa-phone-volume"></i></button>
                        <button type="button" class="btn btn-danger btn-cus"><i class="fab fa-youtube-square"></i></button>
                        <i class="fas fa-angle-left" data-toggle="tooltip" data-placement="left" title="Show links!"></i>
                    </div>
                    <div class="down" data-aos="fade-down" data-aos-duration="1500">
                        <a href="#aa">
                            <i class="fas fa-chevron-down" style="cursor: pointer; font-size: 30px;"></i>
                            <i class="fas fa-chevron-down" style="cursor: pointer; font-size: 25px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="middle" id="aa">
            <div class="title" data-aos="fade-down" data-aos-duration="2500">
                <h3> MAIN FEATURE </h3>
                <span class="slogan">
                    <i class="far fa-check-circle" style="color:#28a745;"></i>&nbsp;&nbsp;Saving
                    <i class="far fa-check-circle" style="color:#d84b14;"></i>&nbsp;&nbsp;Effective
                    <i class="far fa-check-circle" style="color:#4d74d5;"></i>&nbsp;&nbsp;Security
                </span>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--1" data-aos="fade-up-right" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-danger card__header"><i class="far fa-money-bill-alt" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; MONEY MANAGEMENT &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--2" data-aos="fade-up-right" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-primary card__header"><i class="fas fa-users" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; MANAGE CUSTOMERS &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--3" data-aos="fade-up-left" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-info card__header"><i class="far fas fa-file-invoice" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; BILL MANAGEMENT &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--4" data-aos="fade-up-left" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-success card__header"><i class="fas fa-house-user" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; MANAGE ROOMS &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom" >
            <div class="title title-sub" data-aos="fade-up" data-aos-duration="2500">
                <h4 style="margin-top: -18px;">BEST KEY MANAGEMENT SOFTWARE NOW</h4>
                <p>&#10075;&#10075; Solve 90% concerns of inn owners in managing and operating inn with maximum cost savings. Cut down 50% of time to calculate <br> revenue  and expenditure with the simplest interface. Customer consulting team is always ready to support 24/7. &#10076;&#10076;</p>
                <span class="slogan">
                    <i class="far fa-check-circle" style="color:#28a745;"></i>&nbsp;&nbsp;Saving
                    <i class="far fa-check-circle" style="color:#d84b14;"></i>&nbsp;&nbsp;Effective
                    <i class="far fa-check-circle" style="color:#4d74d5;"></i>&nbsp;&nbsp;Security
                </span><br><br>
                <i id="name" style="padding-left: 35%;">--&nbsp; <i class="fas fa-home" style="transform: rotate(7deg);"></i> PHONG TRO TOT &nbsp;--</i>
            </div>
            
        </div>
        
        <div class="contact">
            <div class="title" data-aos="fade-down" data-aos-duration="2500">
                <h3> CONTACT US </h3>
                <span class="slogan">
                    <i class="far fa-check-circle" style="color:#28a745;"></i>&nbsp;&nbsp;Saving
                    <i class="far fa-check-circle" style="color:#d84b14;"></i>&nbsp;&nbsp;Effective
                    <i class="far fa-check-circle" style="color:#4d74d5;"></i>&nbsp;&nbsp;Security
                </span>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 format-col">
                    <div class="card card__contact" id="card--1" data-aos="fade-up-right" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-danger card__header"><i class="fas fa-phone" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">HOTLINE: 0378.339.279</h6>
                            <hr>
                            <p class="card__text--p">Free PBX for customers. Please contact us whenever you need it.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Thank!"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 format-col">
                    <div class="card card__contact" id="card--2" data-aos="fade-up-right" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-primary card__header"><i class="far fa-comment-alt" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">SUPPORT</h6>
                            <hr>
                            <p class="card__text--p">Professional, creative support team, always 24/7 customer service.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Thank!"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 format-col">
                    <div class="card card__contact" id="card--3" data-aos="fade-up-left" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-info card__header"><i class="far fa-envelope" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">EMAIL: support@gmail.com</h6>
                            <hr>
                            <p class="card__text--p">Any questions sent to the above email, the consultant team will answer them.</p>
                            <a href="" style="float: right; position:relative; " data-toggle="tooltip" data-placement="right" title="Thank!"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();

            $('.fa-angle-right').click(function(){
                var a = document.querySelectorAll('.btn-cus');
                for(let i = 0; i < a.length;i++){
                    a[i].style = "display: none;";
                }
                document.querySelector('.fa-angle-left').style="display: block;"
                document.querySelector('.fa-angle-right').style="display: none;"
            });

            $('.fa-angle-left').click(function(){
                var a = document.querySelectorAll('.btn-cus');
                for(let i = 0; i < a.length;i++){
                    a[i].style = "display: block;";
                }
                document.querySelector('.fa-angle-left').style="display: none;"
                document.querySelector('.fa-angle-right').style="display: block;"
            });
        });
    </script>
</body>
</html>