<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluit">
        <div class="top">
            <div class="content">
                <div class="content__text">
                    <p class="line-1 anim-typewriter">MANAGE THE ROOM FOR RENT WITH </p>
                    <p class="line-2 anim-typewriter1">PHONG TRO TOT...</p>
                    <button type="button" class="btn btn-outline-warning mr-2 pt-2 pb-2 btn-test" data-aos="zoom-in-right" data-aos-duration="1500" data-toggle="tooltip" data-placement="top" title="You will get a free experience for a month">Experience</button>
                    <button type="button" class="btn btn-outline-warning ml-2 pt-2 pb-2 btn-test" data-aos="zoom-in-left" data-aos-duration="1500">Registration</button><br>
                    <div class="social" data-aos="zoom-in" data-aos-duration="2500">
                        <button type="button" class="btn btn-primary btn-cus"><i class="fab fa-facebook-f" ></i></button>
                        <button type="button" class="btn btn-danger btn-cus"><i class="fab fa-instagram"></i></button>
                        <button type="button" class="btn btn-primary btn-cus"><i class="fas fa-phone-volume"></i></button>
                        <button type="button" class="btn btn-danger btn-cus"><i class="fab fa-youtube-square"></i></button>
                    </div>
                    <div class="down" data-aos="fade-down" data-aos-duration="1500">
                        <a href="#aa">
                            <i class="fas fa-chevron-down" style="cursor: pointer; font-size: 30px;"></i>
                            <i class="fas fa-chevron-down" style="cursor: pointer; font-size: 25px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="middle" id="aa">
            <div class="title" data-aos="fade-down" data-aos-duration="2500">
                <h3>&#10097;&nbsp; MAIN FEATURE &nbsp;&#10096;</h3>
                <p>-----------------------------------------------------</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--1" data-aos="fade-up-right" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-danger card__header"><i class="far fa-money-bill-alt" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; MONEY MANAGEMENT &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--2" data-aos="fade-up-right" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-primary card__header"><i class="fas fa-users" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; MANAGE CUSTOMERS &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--3" data-aos="fade-up-left" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-info card__header"><i class="far fas fa-file-invoice" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; BILL MANAGEMENT &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 format-col">
                    <div class="card" id="card--4" data-aos="fade-up-left" data-aos-duration="1500">
                        <button type="button" class="btn btn-outline-success card__header"><i class="fas fa-house-user" style="font-size: 35px;"></i></button>
                        <div class="card__text">
                            <h6 style="text-align:center;">&#10093; MANAGE ROOMS &#10092;</h6>
                            <p class="card__text--p">Every month, when you close the bill of rent, service fee, tenant will receive notification through the application.</p>
                            <a href="" style="float: right;" data-toggle="tooltip" data-placement="right" title="Detail!">&#10137;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</body>
</html>